.inputs{
  background-color: #fcfcfc;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  /* background: #E6E4A2 ; */
  border-radius: 10px;
  width: 80%;

}
ion-title {

    text-align: center;
  }