.content{
//   background-color: #ededed;
  border-radius: 10px;
    
}

h1{
    font-size : 32px;

    background: dark;

}


ion-card{
 // border: 0 !important;
  //box-shadow: none !important;
 // border: none !important;
  //border-style: none !important;
} 